.portion1 {
   .portion1UngDung {
      border: none;
   }
   a {
      text-decoration: underline;
      padding-right: $pd-1;
      margin-right: $mg-1;
      border-right: 1px solid black;
   }
}
.headerGeneral {
   .nutClick {
      //    padding: 20px;
      //    margin: 30px;
      //    width: 300px;
      //    height: 300px;

      .nutNhap {
         color: black;
         margin-left: 10px;
         padding: 10px;

         text-decoration: none;
         border: 1px solid;
         padding: 10px;
         box-shadow: 5px 10px #888888;
      }
   }
}
